@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  margin: 0;
  padding: 0;
}

/* Custom styles for Masonry Layout */
.masonry {
  column-count: 3; /* Number of columns */
  column-gap: 1rem; /* Space between columns */
}

.masonry-item {
  break-inside: avoid; /* Prevent items from breaking inside columns */
  margin-bottom: 1rem; /* Space between items */
}

@media (max-width: 1024px) {
  .masonry {
    column-count: 2; /* Two columns on medium screens */
  }
}

@media (max-width: 640px) {
  .masonry {
    column-count: 1; /* Single column on small screens */
  }
}


.btn-primary {
  @apply block bg-gradient-to-r from-[#57F773] to-[#B7F74B] rounded-md px-6 py-3
}